body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

body.ativo {
  --cor-12: #008239;
  --cor-11: #004b1c;
  --cor-4: #dedede;
  --cor-5: #ededed;
  --cor-6: #dedede;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
ul,
blockquote,
p,
dd {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
